@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #8556aa;
  --color-secondary: #b1b1b1;
  --light-purple: #7e50ce;
  --white: #ffffff;
  --dark-gray: #3d3d3d;
  --gray: #6a6a6a;
  --intense-gray: #919191;
  --medium-gray: #9e9e9e;
  --table-gray: #e2e2e2;
  --user-gray: #3d3d3d;
  --light-gray: #b1b1b1;
  --intense-light-gray: #f1f1f1;

  --font-sans: var(--font-roboto);
  --font-alt: var(--font-montserrat);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--gray);
  font-family: var(--font-sans);
}
